html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #73b8d1;
    color: #222;
}


/* Navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

header img {
    width: 120px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;

}nav a:hover {
    color: #1a73e8;
}

nav a {
    transition: color 0.3s ease;
}

/* Hero */

.hero {
    text-align: center;
    padding: 100px 20px;
}


.hero h1 {
    font-size: 60px;
}


.hero p {
    font-size: 20px;
}


/* Button */

button {
    background-color: #1a73e8;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


/* Services */

.services {
    text-align: center;
    padding: 60px;
}


.service-box {
    display: inline-block;
    width: 220px;
    background-color: white;
    margin: 15px;
    padding: 25px;
    border-radius: 10px;
}
.about {
    text-align: center;
    padding: 70px 20px;
    background-color: rgb(234, 198, 185);
}

.about h2 {
    font-size: 40px;
}

.about p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}
.contact {
    text-align: center;
    padding: 70px 20px;
}

.contact form {
    max-width: 500px;
    margin: auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.contact textarea {
    height: 120px;
}
footer {
    text-align: center;
    padding: 25px;
    background-color: #222;
    color: white;
}
.projects {
    text-align: center;
    padding: 70px 20px;
    background-color: white;
}

.projects h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.project-box {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 15px;
    padding: 30px;
    background-color: #f5f7fb;
    border-radius: 10px;
}

.project-box h3 {
    color: #1a73e8;
}
}@media (max-width: 768px) {

    header {
        flex-direction: column;
        padding: 20px;
        .project-box {
    display: block;
    width: 80%;
    margin: 15px auto;
}
    }


    nav {
        margin-top: 15px;
    }


    .hero h1 {
        font-size: 40px;
    }


    .services {
        padding: 20px;
    }


    .service-box {
        width: 80%;
        margin: 15px auto;
        display: block;
    }

}header img {
    width: 120px;
    height: auto;
}